<div class="dashboard container">
  

  <div class="dashboard-header card">

    <h2>Dashboard</h2>

    <div class="dashboard-actions-row">
      <button class="btn btn-primary" routerLink="/log-period">
        Log Period
      </button>

      <button class="btn btn-accent" routerLink="/daily">
        Daily Tracker
      </button>

       <button class="btn btn-accent" routerLink="/trends">
        Trends
      </button>
    </div>

  </div>

  <div class="dashboard-grid">

    <div class="overview-card card">

      <div class="overview-label">
        Average Cycle
      </div>

      <div class="overview-value">
        {{ avgCycle }} Days
      </div>

    </div>

    <div class="overview-card card">

      <div class="overview-label">
        Next Predicted Period
      </div>

      <div class="overview-value">
        {{ nextPeriod }}
      </div>

    </div>

    <div class="overview-card card">

      <div class="overview-label">
        Last Logged Period
      </div>

      <div class="overview-value">
        {{ lastPeriodDate }}
      </div>

    </div>

  </div>

  <div class="dashboard-grid two-column">

    <div class="card">

      <h2>Period Logs</h2>

      @if(recentPeriods.length > 0){

      <table>

        <thead>
          <tr>
            <th>Date</th>
            <th>Flow</th>
            <th>Notes</th>
          </tr>
        </thead>

        <tbody>

          @for(period of recentPeriods; track period._id){

          <tr>

            <td>{{ period.startDate | date:'dd MMM yyyy' }}</td>

            <td>{{ period.flow }}</td>

            <td>{{ period.notes || '-' }}</td>

          </tr>

          }

        </tbody>

      </table>

      } @else {

      <p>No Periods Logged.</p>

      }

    </div>

    <div class="card">

      <h2>Daily Logs</h2>

      @if(dailyLogs.length > 0){

      <table>

        <thead>

          <tr>

            <th>Date</th>
            <th>Water</th>
            <th>Sleep</th>
            <th>Mood</th>

          </tr>

        </thead>

        <tbody>

          @for(log of dailyLogs; track log._id){

          <tr>

            <td>{{ log.date | date:'dd MMM yyyy' }}</td>

            <td>{{ log.waterIntake }}</td>

            <td>{{ log.sleepHours }} hrs</td>

            <td>{{ log.mood }}</td>

          </tr>

          }

        </tbody>

      </table>

      } @else {

      <p>No Daily Logs.</p>

      }

    </div>

  </div>

</div>